<h2> Olá {{ name }},</h2>
<p>
  Bem vindo ao {{ APP_NAME }}! para confirma seu cadastro clique no link abaixo:
</p>
<p>
<a href="{{ accountVerificationUrl }}">Confirmar Cadastro</a>
</p>
<p>Caso não tenha sido você quem fez a solicitação, favor descartar o e-mail.</p>
<p>
  <strong>Equipe {{ APP_NAME }}</strong>
</p>
